**/*.localz
**/*.local
**/*.git
**/*.DS_Store
**/.DS_Store
**/.do_pool/**
**/.do_pool
**/*#JDEVADF_*
**/*~
**/*.scc
**/*.mv.*
**/*.unmkelem.*
**/*.sync.*
**/*.rename.*
**/*.unbranch.*
**/*.unco.*
**/*.saved.*
**/*.client_contrib
**/.svn/**
**/.data/**
**/*.cdi
**/*.bak
**/*.generated.java
**/*.ignore
**/*.labellog.emd
**/.*.cs
**/.fullsource_nt
**/.fullsource
**/.depprod_nt
**/.depprod
**/.ade_path
**/.ade_path/**
**/*.contrib*
**/*.keep
**/*.rvi
**/.#*
**/CVS/**
TEAMPROJECT.ddl
TEAMPROJECT_SHOP.sql
TEAMPROJECT_SHOP_D.dmd
TEST_USER.ddl
TEST_USER.xml
TEAMPROJECT_SHOP_D/dl_settings.xml
TEAMPROJECT_SHOP_D/businessinfo/Business Information.xml
TEAMPROJECT_SHOP_D/datatypes/DataTypes.xml
TEAMPROJECT_SHOP_D/datatypes/structuredtype/seg_0/47E390DE-0671-C4B1-8428-0F45CBEE18F8.xml
TEAMPROJECT_SHOP_D/datatypes/structuredtype/seg_0/F72C39E0-D1CA-8821-2AD7-A1E95A37D3D1.xml
TEAMPROJECT_SHOP_D/datatypes/subviews/E4675DFF-221E-D772-F28F-C12EFB783A2C.xml
TEAMPROJECT_SHOP_D/logical/Logical.xml
TEAMPROJECT_SHOP_D/logical/subviews/11EE82C2-3D45-B28D-A182-0A0A7A05E984.xml
TEAMPROJECT_SHOP_D/mapping/DeletedMap_RM0F7887A2-B2D7-D0FE-B19F-F7AE6DC5B722.xml
TEAMPROJECT_SHOP_D/mapping/DeletedMap_RMC4B1EDAE-AC36-7964-EDEB-9FCD2F3CA3B0.xml
TEAMPROJECT_SHOP_D/mapping/ExtendedMap.xml
TEAMPROJECT_SHOP_D/mapping/ExtendedMap_RM0F7887A2-B2D7-D0FE-B19F-F7AE6DC5B722.xml
TEAMPROJECT_SHOP_D/mapping/ExtendedMap_RMC4B1EDAE-AC36-7964-EDEB-9FCD2F3CA3B0.xml
TEAMPROJECT_SHOP_D/pm/Process Model.xml
TEAMPROJECT_SHOP_D/rdbms/TEAMPROJECT_SHOP_D_RDBMSSites.xml
TEAMPROJECT_SHOP_D/rel/0F7887A2-F7AE6DC5B722.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0.xml
TEAMPROJECT_SHOP_D/rel/0F7887A2-F7AE6DC5B722/subviews/720DCE42-BD95-9BD9-EDCF-584D7215B2A7.xml
TEAMPROJECT_SHOP_D/rel/0F7887A2-F7AE6DC5B722/table/seg_0/451B5540-46B8-303F-CD8D-02B84303AF11.xml
TEAMPROJECT_SHOP_D/rel/0F7887A2-F7AE6DC5B722/table/seg_0/A172C69A-6294-F382-1726-F34329B93003.xml
TEAMPROJECT_SHOP_D/rel/0F7887A2-F7AE6DC5B722/table/seg_0/B9CE4182-1C98-4F32-1C38-0350164D11C1.xml
TEAMPROJECT_SHOP_D/rel/0F7887A2-F7AE6DC5B722/table/seg_0/E3E88E80-B81D-DA8C-32B3-82D77E0217FF.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/foreignkey/seg_0/38A9BE27-8C73-5C4D-35E1-3BAF71407E06.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/foreignkey/seg_0/837A78D5-6A71-D0C7-3429-D147D6E37313.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/foreignkey/seg_0/CED30995-F922-BB6A-1BA1-0BF0D79717B2.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/01F6E6D1-3988D1813575.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/Segment/seg_0/4BF57B79-9770-DBBF-6EA5-423C21CFADCE.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/Segment/seg_0/7FA8124E-D5F1-3463-C36E-962367D9DC0C.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/SType/seg_0/47E390DE-0671-C4B1-8428-0F45CBEE18F8.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/SType/seg_0/F72C39E0-D1CA-8821-2AD7-A1E95A37D3D1.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/Table/seg_0/0991997E-5F2C-6BF6-0A62-BE2FE899BDEF.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/Table/seg_0/48627089-F646-95A2-ABC2-66F4716ACE4C.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/Table/seg_0/8E0DF347-B77B-3EED-32A8-4C62CB4A065B.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/Table/seg_0/B6B0EA3C-85C6-5558-E567-8D26DEA1C844.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/TSpace/seg_0/D1186CFA-2693-85C9-22A3-AC3027BEF86E.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/User/seg_0/3BD4AE58-FD54-E427-31E3-231ACB9DB7B6.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/User/seg_0/MDSYS.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/phys/01F6E6D1-3988D1813575/User/seg_0/PUBLIC.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/schema/seg_0/2A190933-C946-A97F-9B75-CE3A236B3282.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/subviews/9A17F502-0864-1775-42D4-C3858B335C09.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/table/seg_0/0991997E-5F2C-6BF6-0A62-BE2FE899BDEF.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/table/seg_0/48627089-F646-95A2-ABC2-66F4716ACE4C.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/table/seg_0/8E0DF347-B77B-3EED-32A8-4C62CB4A065B.xml
TEAMPROJECT_SHOP_D/rel/C4B1EDAE-9FCD2F3CA3B0/table/seg_0/B6B0EA3C-85C6-5558-E567-8D26DEA1C844.xml
